<div ng-controller="WBController">

    <div>
        <div facebook-login></div>
    </div>

    <div>

        <form>

            <input type="text" ng-model="facebookData.user.name">
            <input type="text" ng-model="facebookData.user.email">

        </form>

    </div>

    <div>

        <ul ng-if="isFanPagesAvailable()">
            <li ng-repeat="page in facebookData.fanpages track by $index">
                <input type="radio" name="pageId" ng-model="chosenPage.id" ng-value="page.id"> - {{page.name}}
            </li>
        </ul>

    </div>

    <div ng-if="isFanPagesAvailable()">
        <button ng-click="signUp();">Save</button>
    </div>

    <div>
        <li ng-repeat="template in listTemplates track by $index">
            <img src="http://localhost:3319/templates/{{template.name}}/{{template.name}}.jpeg" />
        </li>
    </div>

</div>