<div ng-controller="WBController">

    <div>
        <div facebook-login></div>
    </div>

    <div ng-show="!isUserRegistered && !isLoading && isConnected">

        <form>

            <input type="text" ng-model="facebookData.user.name">
            <input type="text" ng-model="facebookData.user.email">

        </form>

    </div>

    <div ng-show="isFanPagesAvailable() && !isLoading && isConnected && !isUserRegistered">

        <ul>
            <li ng-repeat="page in facebookData.fanpages track by $index">
                <input type="radio" name="pageId" ng-model="chosenPage.id" ng-value="page.id"> - {{page.name}}
            </li>
        </ul>

    </div>

    <div ng-show="!isUserRegistered && !isLoading && isConnected">
        <button ng-click="signUp();">Save</button>
    </div>

    <div ng-show="isFanPageRegistered && isUserRegistered && !isLoading && isConnected">
    <!--<div>-->
        <li ng-repeat="template in listThumbTemplates track by $index">
            <img ng-if="template.name" ng-src="http://localhost:3319/imagetemplates/{{template.name}}/{{template.name}}.jpg" />
            <button ng-click="chooseTemplate(template)">Choose</button>
        </li>
    </div>

    <!--<div id="templateContainer"></div>-->
    <!--<iframe id="templateContainer" style="width: 100%;"></iframe>-->

    <div ng-show="isLoading && isConnected">Loading...</div>

</div>